numpy==1.22.3
opencv-python==4.5.5.64
pandas==1.4.1
pathtools==0.1.2
Pillow==9.0.0
PyYAML==6.0
robustness==1.2.1.post2
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
sklearn==0.0
torch==1.12.1
torchattacks==3.2.7
torchmetrics==0.6.0
torchsummary==1.5.1
torchvision==0.13.1
tqdm==4.62.3
typing_extensions==4.0.1
wandb==0.12.11
